*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primario: #ffffff;
    --secundario: #000000;
    --acento: #fca600;
    --grey: #cccccc;
    --fuente-principal :'Crimson Text', serif;
    --fuente-heading : 'Abril Fatface', cursive;
}

/**Globales**/

h1{
    font-family: var(--fuente-heading);
    font-size: 5.625rem;
    color: var(--secundario);
    text-transform: uppercase;
    text-align: center;
    margin-top: 4rem;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
}
h2{
    font-family: var(--fuente-heading);
    color: var(--secundario);
    font-size: 2.5625rem;
    text-transform: uppercase;
}
h3 {
    font-family: var(--fuente-heading);
    color: var(--acento);
    font-size:  1.5625rem;
    text-transform: uppercase;
}
p {
    font-family: var(--fuente-principal);
    font-size: 1.3125rem;
    color: var(--secundario);
    line-height: 2rem;   
}
a{
    color: var(--acento);
}

li {
    list-style: none;
}

/** Header **/

header{
    background-color: var(--secundario);
    /* padding: 1rem 2rem; */
    border: none;
    grid-area: header;
    gap: 2rem;
    position: sticky;
    top: 0;
    transition: 15ms;
    z-index: 2;
}
.logo-header {
    min-width: 15.625rem;
}
.navegador {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 1.5rem;
<<<<<<< HEAD
    padding: 0 1.5rem;    
}
.navegador-redes {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 1rem;
    padding: 0 0 0 1.5rem;
=======
    padding: 0 1.5rem;
    
>>>>>>> 917e9ca4dd7417a5fdce641ce951a9ba7c6b65cd
}
header a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--primario);
}
header a:hover {
    color: var(--acento);
}
nav {
    display: flex;
    justify-content: space-around;
}
.redes {
    width: 1.5rem;
    max-height: 2rem;
}

/**Hero**/

.hero {
    background-image: url(../assets/img/wormies-foto-hover.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 16.25rem;
    position: relative;
    background-position: center;
    margin-bottom: 2rem;
    grid-area: hero;
}

/**Contenedores**/

.layout {
    display: grid;
    width: 100%;
    height: 100vh;
<<<<<<< HEAD
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 10% 1fr 5%;
    grid-template-areas: 
        "header header header"
        " main main main "
        "footer footer footer";
=======
    grid-template-rows: 10% 1fr 5%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
>>>>>>> 917e9ca4dd7417a5fdce641ce951a9ba7c6b65cd
}
.contenedor-header {
    width: 100%;
    display: grid;
<<<<<<< HEAD
    grid-template-columns: 10% 1fr 10%;
=======
    grid-template-columns: 15% 1fr 15%;
>>>>>>> 917e9ca4dd7417a5fdce641ce951a9ba7c6b65cd
    align-items: center;
}

.contenedor-nav {
    width: 100%;
}

.contenedor-main { 
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}   


.contenedor-main-section1 {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.contenedor-video {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    justify-items: center;
}
.video-index {    
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 2rem;
}
<<<<<<< HEAD
.contenedor-nosotros {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.125rem 2.1875rem 40.625rem;
    justify-items: center;
}
.contenedor-nosotros-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,40.625rem);
    justify-items: center;
}
.contenedor-nosotros-3  {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
}
.contenedor-nosotros-3 h3 {
    text-align: center;
    margin: 2rem 0;
}
.contenedor-fotos-nosotros {  
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}
=======


>>>>>>> 917e9ca4dd7417a5fdce641ce951a9ba7c6b65cd
/**Main**/

main {
    grid-area: main;
}

/**Index**/

.contenedor-main-section1 h2 {
    text-align: center;
}
.contenedor-main-section1 p {
    padding: 2rem;
}

/**Nosotros**/
<<<<<<< HEAD
.contenedor-nosotros h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.contenedor-nosotros h3 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.contenedor-nosotros p {
    padding: 2rem;
}
.contenedor-nosotros img {
    margin-top: 1rem;
}
.parrafo-1 {
    grid-row-start: 3;
    grid-row-end: 5;
}
.contenedor-nosotros-2 p {
    padding: 2rem;
}
.contenedor-nosotros-2 img {
    margin-top: 1rem;
}
.parrafo-solo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
=======
>>>>>>> 917e9ca4dd7417a5fdce641ce951a9ba7c6b65cd

.img-nosotros {
    width: 30rem;
    height: 30rem;
}
.cronologia li {
    padding: .9375rem;
    border-bottom: .125rem solid var(--acento);
}

/**Galeria**/

.h2-galeria {
    text-align: center;
    margin: 2rem;
    padding-top: 1rem;
    border-top: .25rem solid var(--acento);
}
.galeria {
    width: 9.375rem;
    height: 9.375rem;
}

/**Fechas**/

table { 
    color: var(--secundario);
    font-size: 1.3125rem;
    table-layout: fixed;
    border-collapse: collapse;
}
thead {
    background-color: var(--acento);
    text-transform: uppercase;
}
th {
    padding: 1.25rem .9375rem;
    font-weight: 700;
}
tbody tr {
    padding: .9375rem;
    border-bottom: .125rem solid var(--acento);
}

/**Formulario**/

form fieldset{
    margin: 0 1.25rem;
    width: 75rem;
    background-color: #e7e0e0a8;
    border: none;
}

form input {
    border: none;
    background-color: transparent;
    width: 62.5rem;
    margin: 1rem 1rem;
    font-size: 1.5rem;
    font-family: var(--fuente-principal);
    border-bottom: .25rem solid var(--secundario);
}
form textarea {
    width: 62.5rem;
    margin: 1rem 1rem;
    border: none;
    border-bottom: .25rem solid var(--secundario);
    font-family: var(--fuente-principal);
    font-size: 1.5rem;

}
.boton-form {
    color: var(--secundario);
    background-color: var(--acento);
    font-size: 2rem;
    font-family: var(--fuente-principal);  
    margin: 1rem 1rem;
    border: none;    
}


/**footer**/ 

footer {
    width: 100%;
    height: 1.25rem;
    background-color: var(--secundario);
    text-align: center;
    grid-area: footer;
}
footer p {
    font-size: 1rem;  
    color: var(--primario); 
}
